@mixin center($x:true, $y:true) {
    position: absolute;

    @if($x and $y) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @else if($y) {
        top: 50%;
        transform: translateY(-50%);
    }

    @else if($x) {
        left: 50%;
        transform: translateX(-50%);
    }
}

@mixin rings {
    box-shadow: 0 0 0 10px rgba($border-color, .10),
        0 0 0 20px rgba($border-color, .08),
        0 0 0 30px rgba($border-color, .06),
        0 0 0 35px rgba($border-color, .04),
        0 0 0 40px rgba($border-color, .02);
}

@mixin text-overflow($width:0px) {
    max-width: $width;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}