.clear {
    &::after {
        display: block;
        clear: both;
        content: "";
    }
}

.hide {
    display: none;
}

.status {
    display: inline-block;
    height: 10px;
    width: 10px;
    background: $border-color;
    border: 2px solid #fff;
    border-radius: 50%;

    &.online {
        background: $online-color;
    }

    &.call {
        border: none;
        background: $link-color;
    }

    &.meet {
        border: none;
        background: $meet-color;
    }
}

.icon-add {
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid $link-color;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    position: relative;

    &::before {
        content: '\002b';
        position: absolute;
        top: 3px;
        left: 4px;
    }
}

.video {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        cursor: pointer;
        top: 19px;
        left: 17px;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        background-image: linear-gradient(238deg, #60d9f7, #58baf6 46%, #52a0f5 71%, #4d8cf4);
    }

    &::after {
        content: '';
        position: absolute;
        cursor: pointer;
        left: 30px;
        top: 30px;
        border: solid;
        border-width: 7px 0 7px 14px;
        border-color: transparent transparent transparent #fff;
    }
}

.badge {
    padding: 6px 14px;
    font-size: 12px;
    border-radius: 3px;
    font-family: 'MaisonNeue-Demi';
    text-transform: capitalize;

    &.call {
        background: rgba($link-color, 0.1);
        color: $link-color;
    }

    &.meet {
        background: rgba($meet-color, .1);
        color: $meet-color;
    }
}

.icon-close {
    position: relative;
    width: 15px;
    height: 15px;
    display: inline-block;

    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 15px;
        background: #fff;
    }

    &::after {
        transform: rotate(45deg);
    }

    &::before {
        transform: rotate(-45deg);
    }
}

.icon-option {
    display: inline-block;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background: #dadde8;
    position: relative;

    &::before,
    &::after {
        content: '';
        float: right;
        position: absolute;
        border-radius: 50%;
        width: 4px;
        height: 4px;
        background: #dadde8;
    }

    &::before {
        right: 5px;
    }

    &::after {
        left: 5px;
    }
}

.msg-status {

    &::after,
    &::before {
        position: absolute;
        content: '';
        border: solid $border-color;
        border-width: 0 2px 2px 0;
        height: 8px;
        width: 4px;
        transform: rotate(45deg);
        top: 0;
        right: 0;
    }

    &::after {
        right: 5px;
    }
}

.read.msg-status {

    &::before,
    &::after {
        border-color: #007aff;
    }
}